@model string

<table class="spacer-heading">
    <tbody>
        <tr>
            <td height="16px" style="font-size:16px; line-height:16px;">
                <h3 class="article-heading">
                    @Model
                </h3>
            </td>
        </tr>
    </tbody>
</table>