@model string

<table class="spacer-heading">
    <tbody>
        <tr>
            <td>
                <h2 class="article-heading">
                    @Model
                </h2>
            </td>
        </tr>
    </tbody>
</table>