# docker-compose.yml
MINIO_ACCESS_KEY=#{MINIO_ACCESS_KEY}
MINIO_SECRET_KEY=#{MINIO_SECRET_KEY}

# keystone.js
COOKIE_SECRET=#{KEYSTONE_COOKIE_SECRET}
KEYSTONE_ADMIN_EMAIL=#{KEYSTONE_ADMIN_EMAIL}
KEYSTONE_ADMIN_PASSWORD=#{KEYSTONE_ADMIN_PASSWORD}
MONGO_URL=#{MONGO_URL}
PORT=#{PORT}
STATIC_SITE_PATH=#{STATIC_SITE_PATH}

# Use host.docker.internal as it's host address on Docker for Windows
HOST_NAME=#{HOST_NAME}
CONTENT_PATH=#{CONTENT_PATH}
HOST_PORT=#{HOST_PORT}