<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="readPath" value="C:\Stuff\medicinesawarnessfeed\" />
    <add key="writePath" value="C:\Stuff\medicinesawarnessfeed\" />
    <add key="logPath" value="C:\Stuff\medicinesawarnessfeed\log\log.txt" />
  </appSettings>
</configuration>